<!DOCTYPE html>
<html>
    <head>
        <!-- Link icon for certain sites -->
        <link rel="image_src" href="/images/#">
        <!-- Favicon link -->
        <link rel="shortcut icon" href="/images/#" type="image/x-icon">
        <!-- Bootstrap CSS import -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- CSS imports -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        <!-- jQuery import -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <!-- jQuery UI CSS import -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- jQuery UI JS import -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- Socket.IO JS import -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
        <script>var socket = io({transports: ['websocket']});</script>
        <!-- Title -->
        <title></title>
    </head>
    <body>