<% include partials/header %>

<div class="fifty">
    <img src="gallery.png">
</div>

<div class="shadow-box">
    <h3>Paste your notes here:</h3>
<br>
      <textarea cols="80" rows="15" id = "input-text"></textarea>
        <br>
        <br>
        <input type="submit" value="Generate" class="note-submit-button"/>
        <img style="height:90px; display:none" id="spinner-gif" src="spinner.gif">
</div>

<div class="flashcard-container">
    <div class="flashcard">
        <h1></h1>
    </div>
    <span></span>
</div>
<% include partials/footer %>